body {
    background-color: #C5E89E;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.title {
    height: 100px;
    border-radius: 10px;
    background-color: #65CD05;
    margin-bottom: 20px;
}

.title p {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    color: #fff;
    line-height: 100px;
}

#number-box {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 2px solid #65CD05;
    border-radius: 10px;
    font-size: 100px;
    line-height: 300px;
    margin: 20px auto;
}

#result-area {
    width: 300px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #65CD05;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    font-weight: bold;
    margin: 20px auto;
}

#chance-area {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.result-chance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#user-input {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    border: 2px solid #65CD05;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
}

#user-input:focus {
    border-color: #65CD05;
    outline: none;
}

button#play-button {
    width: 100px;
    height: 60px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #65CD05;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

button#reset-button {
    width: 290px;
    height: 60px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #65CD05;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

button#play-button:hover,
button#reset-button:hover {
    background-color: #559904;
}

button#play-button:disabled,
button#reset-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#reset-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fa-heart {
    color: red;
    margin: 0 1px;
}

.fa-regular.fa-heart {
    color: red;
}

@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
    }

    #user-input {
        width: 50%;
        margin: 0 0 10px;
    }

    button#play-button,
    button#reset-button {
        width: 50%;
        height: auto;
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .right-img-area {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .title h1 {
        font-size: 36px;
    }

    #number-box {
        width: 300px;
        height: 300px;
        font-size: 100px;
        line-height: 300px;
    }

    #result-area {
        width: 300px;
        height: 100px;
        font-size: 15px;
        line-height: 100px;
    }

    .input-container {
        flex-direction: row;
    }

    #user-input {
        width: 150px;
        margin: 0 10px 0 0;
    }

    button#play-button {
        width: 100px;
    }
}
